/* ここから下に記載していく */
@charset "utf-8";

.text-center{
    text-align: center;
}

.img{
    max-width: 100%;
}

/* ------------
    header
------------ */
.header{
    font-size: 64px;
    font-weight: bold;
    color: black;
    background-color: white;
    width: 100%;
    margin: 20px auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.subtitle{
    font-size: 50px;
    font-weight: bold;
    color: red;
    width: 100%;
    margin: 20px auto;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.btn1{
    /* display: block; */
    width: 650px;
    margin: 100px auto 10px;
    padding: 21px 0;
    background-color: #1ab1ff;
    color: #fff;
    font-size: 30px;
}

.sentakushi{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 0;
}

.btn2{
    /* display: block; */
    width: 200px;
    margin: 100px 50px;
    box-sizing: border-box;
    padding: 21px 0;
    background-color:gray;
    color: #fff;
    font-size: 15px;
    margin: 20px 0;
}

.kekka{
        /* display: block; */
        width: 400px;
        margin: 20px auto;
        box-sizing: border-box;
        padding: 0 0;
        background-color:red;
        color: red;
        font-size: 15px;
}

